body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	flex-direction: column;
	font-family: sans-serif;
	h1{
		font-size: 50px;
		margin: 0;
		padding: 0;
	}
	.message{
		font-size: 25px;
	}
}